<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="UserTestNG">
  	<groups>
  		<run>
  			<include name="pageOpen" />
  			<include name="submit" />
  			<exclude name="elementInput" />
  		</run>	
  	</groups>
  	<parameter name="env" value="QA" />
  	<parameter name="browser" value="chrome" />
    <parameter name="url" value="http://localhost:4200" />
	
	<parameter name="email" value="tester@gmail.com" />
	<parameter name="password" value="password" />
	<parameter name="fName" value="Tom" />
	<parameter name="lName" value="Milton" />
	
	<classes> 
	
		<class name = "net.groot.data.TestNgLogin" /> 
		<class name = "net.groot.data.TestNgRegister"/>
		
		<class name = "net.groot.data.TestNgRegisterData" >
			  <methods>
      			<exclude name="registerPage"/> 
      		</methods>  
		</class>
	</classes>
  </test>  

</suite>  
 